.section {
  position: relative;
  &.has-triangle-left {
    &::after {
      position: absolute;
      content: "";
      top: -60px;
      left: 0;
      width: 0; 
      height: 0; 
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent; 
      border-left: 60px solid $primary;
    }
  }
  &.has-triangle-right {
    &::after {
      position: absolute;
      content: "";
      top: -60px;
      right: 0;
      width: 0; 
      height: 0; 
      border-top: 60px solid transparent;
      border-bottom: 60px solid transparent; 
      border-right: 60px solid $primary;
    }
  }
}